body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.excursion__title {
  text-align: center;
}

.excursion__subtitle {
  text-align: center;
}

.subtitle__descr {
  text-align: center;
}

.circle {
  width: 133px;
  height: 133px;
  background-color: #3ebffa;
  border-radius: 133px;
}

.circles {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.event-place__blocks {
  justify-content: space-around;
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.event-place__block {
  background-color: transparent;
  border: 2px solid #88d6fd;
  width: 290px;
  height: 99px;
  border-radius: 15px;
}
